.section1 {
    background-color: #1f2937;
    border: solid red;
}

a {
    text-decoration: none;
}

.logo-text {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero-text, a {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-second-text {
    font-size: 24px;
    color: #F9FAF8;
}

.signupbtn {
    background-color: #3882f6;
}

ul {
    display: flex;
    gap: 12px;
    list-style: none;
    border: solid red;
}

li.logo {
    margin-right: auto;
    border: solid red;
}

.hero {
    display: flex;
    justify-content: center;
    justify-items: center;
    border: solid red;
    flex-wrap: wrap;
}

.hero.img-right {
    margin-left: auto;
    border: solid red;
}
