body{
    margin: 0;
}

a {
    text-decoration: none;
}

.hero-logo-text {
    font-size: 24px;
    color: #F9FAF8;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero-sec-link,
.signupbtn {
    font-size: 18px;
    color: #E5E7EB;
}

.container1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.hero-text {
    display: flex;
    flex-flow: column wrap;
    width: 300px;
    }

img {
    display: flex;
    flex-flow: column wrap;
}

.signupbtn {
    background-color: #3882F6;
}

.hero {
    background-color: #1f2937;
}