body{
    margin: 0;
}

a {
    text-decoration: none;
}

.hero-logo-text {
    font-size: 24px;
    color: #F9FAF8;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero-sec-link,
.signupbtn {
    font-size: 18px;
    color: #E5E7EB;
}

.container1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.hero-text {
    display: flex;
    flex-flow: column wrap;
    width: 300px;
    }

img {
    display: flex;
    flex-flow: column wrap;
}

.signupbtn {
    background-color: #3882F6;
}

.hero {
    background-color: #1f2937;
}

.navbar > a {
    margin: 10px;
}

.hero-main-text, .hero-sec-link {
    margin: 5px;
}

.section2 {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.section2head {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.section2con {
    display: flex;
    width: 1000px;
    flex: 1;
}

img {
    border-radius: 10%;
}


.section3 {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote {
    width: 700px;
    margin-bottom: 0;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    font-weight: 200;
}
.quotefrom {
    padding: 0;
    margin: 0;
    width: 60%;
    display: flex;
    justify-content: flex-end;
}



.section4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 50px;
    margin: 50px;
    background-color: #3882F6;
    gap: 10px;
}

.container4 {
}

.signupbtn4 {
    background-color: #3882F6;
    height: 30px;
    color: #f9faf8;
    border-color: #f9faf8;
}

.signuptext1, .signuptext2 {
    margin: 0;
}

.signuptext1 {
    font-size: 24px;
    color: #f9faf8;
}

.signuptext2 {
    font-size: 18px;
    color: #E5E7EB;
}

.footer {
    background-color: #1f2937;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #F9FAF8;
}